.create-rule-container {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    max-width: 600px; /* Increased width for the container */
    background-color: #f9f9f9;
  }
  
  h2 {
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  .rule-input-container {
    display: flex;
    align-items: center; /* Center the input and button vertically */
    margin-bottom: 10px; /* Add space between input rows */
  }
  
  .rule-input {
    flex-grow: 1; /* Allow the input to take available space */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Add space between input and button */
    box-sizing: border-box;
  }
  
  .submit-button {
    padding: 10px 20px;
    border-radius: 20px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .submit-button:hover {
    background-color: #45a049; /* Change hover color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }
  
  .delete-button {
    background: transparent; /* No background */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    color: #d9534f; /* Red color for the delete icon */
    font-size: 20px; /* Adjust size of the delete icon */
    margin-left: 10px; /* Add space between input and button */
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red; /* Red color for error messages */
    margin-top: 10px; /* Space above error message */
  }
  